{% extends "base.html" %}
{% block content %}
<h2>🏫 Admission Universitaire</h2>
<form method="post">
    <label>High School GPA:</label><input type="number" step="0.01" name="High_School_GPA"><br>
    <label>Final Exam Scores:</label><input type="number" name="Final_Exam_Scores"><br>
    <label>Hours of Study per Week:</label><input type="number" name="Hours_of_Study_per_Week"><br>
    <label>Attendance Rate:</label><input type="number" step="0.01" name="Attendance_Rate"><br>
    <label>Mental Health Status:</label><input type="text" name="Mental_Health_Status"><br>
    <label>Extracurricular Activities:</label><input type="text" name="Participation_in_Extracurricular_Activities"><br>
    <label>Family Income:</label><input type="number" name="Family_Income"><br>
    <button type="submit">Prédire</button>
</form>
{% if prediction is defined %}
    <h3>Résultat : {{ prediction }}</h3>
{% endif %}
{% endblock %}
